[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj
*.sln
ExportedObj/

.vscode/
.vsconfig

crashlytics-build.properties

packages/
*.nupkg

*.apk
*.aab
*.unitypackage
*.app

/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/

/[Aa]ssets/TextMesh Pro/

/[Aa]ssets/AssetStoreTools*
